In [3]:
import requests
import os

In [5]:
import pandas as pd

In [56]:
import pprint

In [64]:
import json

In [4]:
foursquare_api_key = os.environ['FOURSQUARE_STATS_API_KEY']

In [1]:
#%store -r lat_lon

In [108]:
lat_lon_init = pd.read_csv('../data/lat_lon.csv')
lat_lon = lat_lon_init.drop(columns=lat_lon_init.columns[0], axis=1)
lat_lon

             0         1
0    53.350230 -6.279696
1    53.357841 -6.251557
2    53.356307 -6.273717
3    53.349562 -6.278198
4    53.336021 -6.262980
..         ...       ...
109  53.336597 -6.248109
110  53.353742 -6.265301
111  53.344603 -6.263371
112  53.347692 -6.278214
113  53.342081 -6.275233

[114 rows x 2 columns]

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [87]:
def foursquare_request(latitude, longitude):
    url = "https://api.foursquare.com/v3/places/search"
    params = {
        # retrieve latitude and longitude from list of bike station location coordinates, and convert to string
        "ll": f"{latitude},{longitude}",
        "radius": 1000,
        "categories": "13000, 19028, 19043", # search for dining and drinking, bus stops, and tourist information and service
        "sort": "DISTANCE",
        "fields": "name,distance,popularity,rating,categories" 
    }

    headers = {
        "Accept": "application/json",
        "Authorization": f"{foursquare_api_key}"
    }

    foursquare_result = requests.request("GET", url, params=params, headers=headers)

    return foursquare_result.json()

# create empty list to contain a dataframe for each location's associated information
final_location_data_list = []

# iterate through bike station locations
for location in lat_lon:
    latitude = location[0]
    longitude = location[1]
    print(f'getting results for {latitude}, {longitude}')
    result = foursquare_request(latitude, longitude) # assign location json results to a variable
    data = result.get('results') # extract data located in the 'results' header of the json file
    foursquare_df = pd.DataFrame(data) # convert location results to a pandas dataframe
    foursquare_df['latitude'] = latitude
    foursquare_df['longitude'] = longitude 
    foursquare_df['category'] = foursquare_df['categories'].map(lambda x: x[0].get('name')) # extract only the first category name from a venue's category info
    foursquare_df = foursquare_df.drop('categories', axis = 1) # remove the 'categories' column which contains a list of dictionaries
    final_location_data_list.append(foursquare_df)

final_df = pd.concat(final_location_data_list, axis=0) # convert list of location dataframes to one big dataframe

final_df.head(10)

getting results for 53.35023, -6.279696
getting results for 53.357841, -6.251557
getting results for 53.356307, -6.273717
getting results for 53.349562, -6.278198
getting results for 53.336021, -6.26298
getting results for 53.359405, -6.276142
getting results for 53.33796, -6.24153
getting results for 53.343368, -6.27012
getting results for 53.334123, -6.265436
getting results for 53.344304, -6.250427
getting results for 53.338755, -6.262003
getting results for 53.347777, -6.244239
getting results for 53.336074, -6.252825
getting results for 53.330091, -6.268044
getting results for 53.350929, -6.265125
getting results for 53.341515, -6.256853
getting results for 53.348279, -6.254662
getting results for 53.35893, -6.280337
getting results for 53.344115, -6.237153
getting results for 53.343893, -6.280531
getting results for 53.347477, -6.28525
getting results for 53.339005, -6.300217
getting results for 53.344153, -6.233451
getting results for 53.334295, -6.258503
getting results for 53.340803, -6.267732
getting results for 53.351464, -6.255265
getting results for 53.333653, -6.248345
getting results for 53.343105, -6.277167
getting results for 53.341428, -6.24672
getting results for 53.338614, -6.248606
getting results for 53.341833, -6.231291
getting results for 53.346637, -6.246154
getting results for 53.343034, -6.263578
getting results for 53.346867, -6.230852
getting results for 53.3547, -6.272314
getting results for 53.33403, -6.260714
getting results for 53.346026, -6.243576
getting results for 53.330662, -6.260177
getting results for 53.342113, -6.310015
getting results for 53.357043, -6.263232
getting results for 53.348875, -6.267459
getting results for 53.346874, -6.272976
getting results for 53.347932, -6.240928
getting results for 53.334432, -6.245575
getting results for 53.343565, -6.275071
getting results for 53.359624, -6.260348
getting results for 53.354929, -6.269425
getting results for 53.350974, -6.25294
getting results for 53.337132, -6.26059
getting results for 53.339218, -6.240642
getting results for 53.347122, -6.234749
getting results for 53.355173, -6.278424
getting results for 53.350291, -6.273507
getting results for 53.354845, -6.247579
getting results for 53.335742, -6.24551
getting results for 53.343653, -6.231755
getting results for 53.347884, -6.248048
getting results for 53.341288, -6.258117
getting results for 53.347508, -6.252192
getting results for 53.341805, -6.305085
getting results for 53.341645, -6.29719
getting results for 53.342296, -6.287661
getting results for 53.337757, -6.267699
getting results for 53.358115, -6.265601
getting results for 53.342638, -6.238695
getting results for 53.339434, -6.246548
getting results for 53.339334, -6.264699
getting results for 53.337494, -6.26199
getting results for 53.35561, -6.261397
getting results for 53.343897, -6.29706
getting results for 53.346985, -6.297804
getting results for 53.355954, -6.278378
getting results for 53.337824, -6.256035
getting results for 53.346603, -6.296924
getting results for 53.345922, -6.254614
getting results for 53.359246, -6.269779
getting results for 53.330362, -6.265163
getting results for 53.359967, -6.264828
getting results for 53.356769, -6.26814
getting results for 53.343456, -6.287409
getting results for 53.356717, -6.256359
getting results for 53.339764, -6.251988
getting results for 53.34744, -6.238523
getting results for 53.355473, -6.264423
getting results for 53.347972, -6.291804
getting results for 53.344007, -6.266802
getting results for 53.347106, -6.292041
getting results for 53.352149, -6.260533
getting results for 53.345203, -6.247163
getting results for 53.353331, -6.249319
getting results for 53.338776, -6.30395
getting results for 53.359157, -6.281866
getting results for 53.349013, -6.260311
getting results for 53.358437, -6.260641
getting results for 53.335211, -6.2509
getting results for 53.339629, -6.243778
getting results for 53.341359, -6.292951
getting results for 53.332763, -6.257942
getting results for 53.351182, -6.269859
getting results for 53.3483, -6.266651
getting results for 53.346057, -6.268001
getting results for 53.354663, -6.278681
getting results for 53.356299, -6.258586
getting results for 53.332383, -6.252717
getting results for 53.340714, -6.308191
getting results for 53.347802, -6.292432
getting results for 53.34218, -6.254485
getting results for 53.3488, -6.281637
getting results for 53.340927, -6.262501
getting results for 53.336597, -6.248109
getting results for 53.3537415547453, -6.26530144781526
getting results for 53.344603, -6.263371
getting results for 53.347692, -6.278214
getting results for 53.342081, -6.275233

,distance,name,popularity,rating,latitude,longitude,category
0,37,V-Face,0.961758,NaN,53.35023,-6.279696,Vegan and Vegetarian Restaurant
1,131,The Cobblestone,0.989030,8.5,53.35023,-6.279696,Pub
2,165,Oscars CafÃ© Bar,0.981643,6.7,53.35023,-6.279696,Bar
3,177,Light House Cinema,0.987419,9.2,53.35023,-6.279696,Indie Movie Theater
4,235,Generator Hostel bar,0.973561,NaN,53.35023,-6.279696,Bar
5,285,JJ's Bar,0.995279,8.3,53.35023,-6.279696,Cocktail Bar
6,286,Token,0.974089,8.7,53.35023,-6.279696,Arcade
7,287,The Reserve Bar,0.988975,7.5,53.35023,-6.279696,Whisky Bar
8,291,Old Jameson Distillery,0.998806,8.9,53.35023,-6.279696,Tour Provider
9,297,Proper Order Coffee Co.,0.983281,8.1,53.35023,-6.279696,CafÃ©

In [88]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1140 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   distance    1140 non-null   int64
 1   name        1140 non-null   object
 2   popularity  1111 non-null   float64
 3   rating      776 non-null    float64
 4   latitude    1140 non-null   float64
 5   longitude   1140 non-null   float64
 6   category    1140 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 71.2+ KB

### Troubleshooting code snippets

run the foursquare request once, figure out where the category information is within the foursquare result structure.

In [58]:
url = "https://api.foursquare.com/v3/places/search"
params = {
    # retrieve latitude and longitude from list of bike station location coordinates, and convert to string
    "ll": "53.35023,-6.279696",
    "radius": 1000,
    "categories": "13000, 19028, 19043", # search for dining and drinking, bus stops, and tourist information and service
    "sort": "DISTANCE",
    "fields": "name,distance,popularity,rating,categories" 
}

headers = {
    "Accept": "application/json",
    "Authorization": f"{foursquare_api_key}"
}

foursquare_result = requests.request("GET", url, params=params, headers=headers)

pprint.pprint(foursquare_result.json())

{'context': {'geo_bounds': {'circle': {'center': {'latitude': 53.35023,
                                                  'longitude': -6.279696},
                                       'radius': 1000}}},
 'results': [{'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/vegetarian_',
                                       'suffix': '.png'},
                              'id': 13377,
                              'name': 'Vegan and Vegetarian Restaurant'}],
              'distance': 37,
              'name': 'V-Face',
              'popularity': 0.9622954097517781},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
                                       'suffix': '.png'},
                              'id': 13018,
                              'name': 'Pub'}],
              'distance': 131,
              'name': 'The Cobblestone',
              'popularity': 0.9895169813476534,
              'rating': 8.4},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
                                       'suffix': '.png'},
                              'id': 13003,
                              'name': 'Bar'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
                                       'suffix': '.png'},
                              'id': 13034,
                              'name': 'CafÃ©'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
                                       'suffix': '.png'},
                              'id': 13065,
                              'name': 'Restaurant'}],
              'distance': 165,
              'name': 'Oscars CafÃ© Bar',
              'popularity': 0.982718729469565,
              'rating': 6.7},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/movietheater_',
                                       'suffix': '.png'},
                              'id': 10026,
                              'name': 'Indie Movie Theater'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
                                       'suffix': '.png'},
                              'id': 13034,
                              'name': 'CafÃ©'}],
              'distance': 177,
              'name': 'Light House Cinema',
              'popularity': 0.9888885715101831,
              'rating': 9.1},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
                                       'suffix': '.png'},
                              'id': 13003,
                              'name': 'Bar'}],
              'distance': 235,
              'name': 'Generator Hostel bar',
              'popularity': 0.9748636065011854},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/cocktails_',
                                       'suffix': '.png'},
                              'id': 13009,
                              'name': 'Cocktail Bar'}],
              'distance': 285,
              'name': "JJ's Bar",
              'popularity': 0.9958867719729213,
              'rating': 8.3},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/arcade_',
                                       'suffix': '.png'},
                              'id': 10003,
                              'name': 'Arcade'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
                                       'suffix': '.png'},
                              'id': 13003,
                              'name': 'Bar'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
                                       'suffix': '.png'},
                              'id': 13134,
                              'name': 'Comfort Food Restaurant'}],
              'distance': 286,
              'name': 'Token',
              'popularity': 0.9749778628352709,
              'rating': 8.7},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/whiskey_',
                                       'suffix': '.png'},
                              'id': 13024,
                              'name': 'Whisky Bar'}],
              'distance': 287,
              'name': 'The Reserve Bar',
              'popularity': 0.9899168785169528,
              'rating': 7.5},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/default_',
                                       'suffix': '.png'},
                              'id': 19029,
                              'name': 'Tour Provider'}],
              'distance': 291,
              'name': 'Old Jameson Distillery',
              'popularity': 0.9988860007426662,
              'rating': 8.9},
             {'categories': [{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
                                       'suffix': '.png'},
                              'id': 13034,
                              'name': 'CafÃ©'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
                                       'suffix': '.png'},
                              'id': 13035,
                              'name': 'Coffee Shop'},
                             {'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
                                       'suffix': '.png'},
                              'id': 13065,
                              'name': 'Restaurant'}],
              'distance': 297,
              'name': 'Proper Order Coffee Co.',
              'popularity': 0.9841183695621126,
              'rating': 8.1}]}

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Points of interest:
- dining and drinking (13000)
    - coffee shops (13032)
    - brewery (13029)
    - bars (13003)
    - restaurant (13065)
- bus stop (19043)
- tourist information and service (19028)

POIs that were considered but not included:
- public bathroom (12092)
- historic and protected site (16020)
- souvenir store (17116)
- gift shops (17089)

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating