In [3]:
import requests
import os

In [5]:
import pandas as pd

In [4]:
foursquare_api_key = os.environ['FOURSQUARE_STATS_API_KEY']

In [1]:
%store -r lat_lon

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [47]:
def foursquare_request(latitude, longitude):
    url = "https://api.foursquare.com/v3/places/search"
    params = {
        # retrieve latitude and longitude from list of bike station location coordinates, and convert to string
        "ll": f"{latitude},{longitude}",
        "radius": 1000,
        "categories": "13000, 19028, 19043", # search for dining and drinking, bus stops, and tourist information and service
        "sort": "DISTANCE",
        "fields": "name,distance,popularity,rating" 
    }

    headers = {
        "Accept": "application/json",
        "Authorization": f"{foursquare_api_key}"
    }

    foursquare_result = requests.request("GET", url, params=params, headers=headers)

    return foursquare_result.json()

# create empty list to contain a dataframe for each location's associated information
final_location_data_list = []

# iterate through bike station locations
for location in lat_lon:
    latitude = location[0]
    longitude = location[1]
    result = foursquare_request(latitude, longitude) # assign location json results to a variable
    data = result.get('results') # extract data located in the 'results' header of the json file
    foursquare_df = pd.DataFrame(data) # convert location results to a pandas dataframe
    final_location_data_list.append({
        'Latitude': latitude,
        'Longitude': longitude,
        'Name': foursquare_df['name'],
        'Distance': foursquare_df['distance'],
        'Popularity': foursquare_df['popularity'],
        'Rating': foursquare_df['rating']
        }) # add location data to a list of location data

final_df = pd.DataFrame(final_location_data_list) # convert list of location dataframes to one big dataframe

final_df.head(10)

,Latitude,Longitude,Name,Distance,Popularity,Rating
0,53.350230,-6.279696,0 V-Face 1 The ...,0 37 1 131 2 165 3 177 4 235 5...,0 0.962323 1 0.989574 2 0.982433 3 ...,0 NaN 1 8.4 2 6.7 3 9.1 4 NaN 5...
1,53.357841,-6.251557,0 Bridge Tavern 1 ...,0 171 1 210 2 222 3 321 4 339 5...,0 0.972521 1 0.941013 2 0.979005 3 ...,0 NaN 1 NaN 2 7.8 3 NaN 4 8.7 5...
2,53.356307,-6.273717,0 McGowan's 1 Cumiskeys 2 ...,0 46 1 216 2 252 3 404 4 516 5...,0 0.949326 1 0.972920 2 0.965294 3 ...,0 6.8 1 NaN 2 8.7 3 NaN 4 8.0 5...
3,53.349562,-6.278198,0 The Cobblestone 1 Osca...,0 35 1 79 2 109 3 137 4 155 5...,0 0.989574 1 0.982433 2 0.988945 3 ...,0 8.4 1 6.7 2 9.1 3 NaN 4 NaN 5...
4,53.336021,-6.262980,0 Dicey's Garden 1 ...,0 67 1 102 2 167 3 172 4 173 5...,0 0.992545 1 0.979976 2 0.985175 3 ...,0 7.5 1 8.9 2 NaN 3 7.8 4 7.8 5...
5,53.359405,-6.276142,0 Clarkes Phibsboro House 1 Phib...,0 191 1 196 2 204 3 218 4 245 5...,0 NaN 1 0.907678 2 0.900908 3 ...,0 NaN 1 NaN 2 NaN 3 8.7 4 NaN 5...
6,53.337960,-6.241530,0 Starbucks 1 ...,0 177 1 192 2 215 3 273 4 340 5...,0 0.938414 1 0.937557 2 0.992773 3 ...,0 6.7 1 NaN 2 9.0 3 6.4 4 7.3 5...
7,53.343368,-6.270120,0 Bittersweet 1 B...,0 93 1 215 2 217 3 224 4 245 5...,0 0.969007 1 0.994915 2 0.991859 3 ...,0 6.4 1 NaN 2 7.5 3 6.8 4 7.5 5...
8,53.334123,-6.265436,0 The Bleeding Horse 1 ...,0 67 1 159 2 160 3 167 4 192 5...,0 0.988460 1 0.987289 2 0.982118 3 ...,0 7.4 1 7.8 2 8.9 3 8.9 4 6.7 5...
9,53.344304,-6.250427,0 Bread 41 1 ...,0 97 1 245 2 290 3 314 4 341 5...,0 0.990174 1 0.970293 2 0.985518 3 ...,0 8.3 1 7.6 2 7.6 3 8.4 4 NaN 5...

In [49]:
final_df.shape

(114, 6)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Points of interest:
- coffee shops (13032)
- gift shops (17089)
- brewery (13029)
- tourist information and service (19028)

POIs that were considered but not included:
- restaurant (13065)
- public bathroom (12092)
- historic and protected site (16020)
- bars (13003)
- souvenir store (17116)
- bus stop (19043)

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating